extends layout

block content
  h1= title 
  p Rows: #{query.rows}, Cols: #{query.cols}`

  - var rows = Number(query.rows);
  - var cols = Number(query.cols);
  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p The values need to be integers.
  else if rows < 2 || rows > 12
    p the rows have to be between 2 and 12
  else if cols < 2 || cols > 12
    p the columns have to be between 2 and 12
  else
    table#outer
      - for(let i =0; i<rows; i++){
        tr#middle
          - for(let j =0; j<cols; j++){
            td= (i*2)-j
          - }
      - }